:root {
  background-color: rgba(211, 211, 211, 0.192);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}


.container {
  background-color: #ffff;
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
  border-radius: 2.5rem;
  box-shadow: 0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.24), -0.15rem -0.15rem 0.3rem rgba(0, 0, 0, 0.24);
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 1rem 1rem;
}

.time {
  font-weight: 500;
  font-family: "Golos text", serif;
}

.notch {
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 40px;
  width: 100px;
  height: 30px;
  margin-left: 2.5rem;
}

.signal-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: -1rem;
}

.login-heading {
  max-width: 280px;
  width: 100%;
  margin: 1rem;
}

.login-heading>p {
  font-family: "Golos text", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
}

.login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  color: rgb(90, 88, 88);
}

.fwd-arrow {
  display: inline-block;
  padding-top: 5px;
  margin-left: -1.5rem;
  opacity: 0.5;
}

.login-btn {
  border: 1px solid rgba(211, 211, 211, 0.267);
  border-radius: 24px;
  padding: 0.75rem 1.2rem;
  background-color: rgba(211, 211, 211, 0.170);
  font-weight: 600;
  color: black;
  cursor: pointer;
}

form {
  max-width: 334px;
  width: 100%;
}

.label {
  margin: 1rem 1rem;
  color: rgb(90, 88, 88);
  font-size: 1rem;
}


input {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 16px;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid darkgray;
  font-size: 1rem;
}

input::placeholder {
  padding: 4px;
}

.pass-req {
  max-width: 334px;
  display: flex;
  justify-content: center;
  gap: 0.9rem;
  align-items: center;
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.pass-info {
  border: 1px solid rgba(100, 209, 138, 0.075);
  border-radius: 4rem;
  padding: 0.2rem 0.1rem 0.4rem 0.4rem;
  color: #64d18af8;
  background-color: rgba(100, 209, 138, 0.11);
  font-size: 0.8rem;
  width: 100%;
}

.pass-info-up {
  border: 1px solid rgba(211, 211, 211, 0.144);
  border-radius: 4rem;
  padding: 0.2rem 0.1rem 0.4rem 0.4rem;
  background-color: rgba(211, 211, 211, 0.144);
  font-size: 0.8rem;
  width: 100%;

}

.check {
  position: relative;
  top: 8px;
}

.create-btn {
  max-width: 350px;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  border-radius: 10rem;
  background-color: black;
  border: none;
  outline: none;


  cursor: pointer;
}

.btn-info {
  padding: 4px auto;
  font-weight: 600;
  color: white;
  font-family: "Inter", serif;
}

.fwd-arrow-2 {
  position: relative;
  top: 7px;
}